.shen-button {
    border: 1px solid var(--dark);
    box-shadow: 3px 3px 0 var(--dark);
    border: 1px solid var(--dark);
    border-radius: 8px;
    padding: 7px 20px;
    min-height: 48px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:disabled {
        opacity: 60%;
        cursor: not-allowed;
    }

    &:hover {
        box-shadow: 6px 6px 0 var(--dark);
        transform: translateY(-2px);
    }
}
