:root {
    --primary: #FFFAF6;
    --neon-pink: #D8086F;
    --dusty-pink: #B0586F;
    --amber-glow: #FFB847;
    --dusty-lavander: #5D61A3;
    --salmon-glow: #FF7A5C;
    --white: #fff;
    --dark: #191919;
    --error: #dc3545;
    --success: #28a745

    --font-size-base: 16px;  /* Base font size for body text */
    --font-size-small-heading: 20px;  /* Small heading or subheading */
    --font-size-heading: 36px;  /* Main heading or section title */
    --font-size-large-heading: 60px;  /* Large title or hero section heading */

    --font-lexend-deca-bold: 'LexendDeca-Bold', sans-serif;
    --font-lexend-deca-extrabold: 'LexendDeca-ExtraBold', sans-serif;
    --font-lexend-deca-semibold: 'LexendDeca-SemiBold', sans-serif;
    --font-publicsans-regular: 'PublicSans-Regular', sans-serif;
    --font-publicsans-medium: 'PublicSans-Medium', sans-serif;
    --font-publicsans-semibold: 'PublicSans-SemiBold', sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 110px;
}

body {
    font-family: var(--font-publicsans-regular);
    background-color: var(--primary);
    font-size: var(--font-size-base);
    color: var(--dark);
}

